@charset "UTF-8";


@media screen and (max-width: 992px) {
  /*mobile*/

  * {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }

  .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* .img-wrapper img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            } */

  .banner {
    position: absolute;
    top: 10%;
    left: 12%;
  }

  .banner h1 {
    font-size: 4rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .banner button {
    padding: 0.8rem 0.8rem;
  }

  .sidebar {
    width: 20rem;
    height: 100vh;
  }
    .menu {
  top:50%;
  left: 50%;
 
}


.menu-link {
  font-size: 1.5rem;
  
}   
    

 .sessao-cardapios {
    padding: 10px;
    margin-bottom: 20px;
  }

  .cardapios {
    height: 100%;
    display: block;
    align-items: center;
    padding: 1rem;
    margin: 0;
    

  }

  .cardapio-header {
    display: none;

  }

  .cardapio-text {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

   .cardapios-img-wrapper {
    display: block;
    height: 18rem;
padding-left: 17rem;
  }

  .salgados {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 2rem 3rem;
    margin-bottom: 2rem;
    margin: 0;
  }

  .card {
    width: 22rem;
    height: 16rem;
    padding: .2rem;
    margin: auto;
  }

 .card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.7;
}

.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
  text-align: center;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.card-info h3 {
  font-family: var(--font-primary);
  font-size: 5vh;
  font-weight: 500;
  text-align: center;
  color:orangered;
}

.card-info h2 {
  font-size: 5vh;
  font-family: var(--font-action);
  font-weight: bolder;
  color: darkorange;
  margin-bottom: 1.2rem;
}

.card-info p {
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: 400;
  width: 80%;
  margin-bottom: 3vh;

}
    .mapBox {
    overflow: hidden;
  margin: auto;
        
    position: relative;
    width:480px;
    height: 300px;
    }

  .socialMedia {
   display: flex;
  }

  .footer {
    height: 10rem;
  }

  .footer-content {
    width: 50%;
  }

  .footer-content p {
    font-size: 1.3rem;
  }

  .social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
  }

  .social-list ul {
    display: none;
  }

  #link-topo {
    right: 2rem;
  }


}