@charset "UTF-8";



/* 
main h1{
    padding-top: 2rem;
    text-align: center;
    color: black;
    font-size:2rem;
} */

section#paralax {
    padding-top: 5rem;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font-action);
    ;
    font-size: 4vh;
}

section>p {
    padding-bottom: 2em;
    font-size: 4vh;
    font-family: var(--font-action);
    font-weight:200;

}



section.normal {
    padding-bottom: 6rem;
    background-color:#fff;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    height: 12rem;
    
}

section.imagem>p {
    font-size: 4vh;
    display: inline-block;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.418);
    text-shadow: 2px 2px 0px black;
}
section#img01 {
   
     background-image: url("imagens/bg.jpg");
    background-position: right center;
}

section#img02 {
    background-image: url("imagens/bg.jpg");
    background-position: right center;
}
section#img03 {
    background-image: url("imagens/bg.jpg");
    background-position: right center;
}
section#img04 {
    background-image: url("imagens/bg.jpg");
    background-position: right center;
}


@media screen and (max-width: 600px) {
section#paralax {
    padding-top: 1rem;
    padding-bottom: 2vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font-action);    
    font-size: 3vh;
}

section>p {
    padding-bottom: 0;
    font-size: 3vh;
    font-family: var(--font-action);
    font-weight:200;

}



section.normal {
    padding-bottom: 3rem;
    background-color: #ffdde1cc;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    height: 15rem;
    
}

section.imagem>p {
    font-size: 3vh;
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.418);
    text-shadow: 2px 2px 0px black;
}



}